/*
-----------------------------------------------------------
Making page's sections or Divs appear like a single 
page on mobile phones.
----------------------------------------------------------
*/

/* Using CSS Flexbox 
Wrapping the sections and divs in a flexbox element
and applying the following.
Instead, i have wrapped some lists elements*/

/* .flexbox-container{
    display: flex;
    flex-direction: column;
    height: 20vh;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
}
.main-body{
    height: 100vh;
    scroll-snap-align: start;
} */


/* Using CSS GRID 
Wrapping the sections and divs in a flexbox element
and applying the following.
Instead, i have wrapped some lists elements*/


/* .flexbox-container{
    display: grid;
    grid-template-rows: repeat(5, 1fr); /*Adjust the number of rows to your need*/
  /*  height: 100vh;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
}
.main-body{
    grid-row: auto;
    height: 100vh;
    scroll-snap-align: start;
} */